<!doctype html>
<html lang="no">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header>
  <nav class="navbar">
    <a href="{{ url_for('index') }}" class="nav-logo">Kantina</a>
    <ul class="nav-links">
      <li><a href="{{ url_for('index') }}">Hjem</a></li>
      <li><a href="{{ url_for('meny') }}">Meny</a></li>
      <li><a href="{{ url_for('varer') }}">Varer</a></li>
      <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
    </ul>
  </nav>
</header>


  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <p> Kantina · Åpent man–fre 08:30–15:40</p>
  </footer>
</body>
</html>
