{% extends "base.html" %}
{% block content %}
  <h1>Meny</h1>
  <h2>Dagens</h2>
  <ul>
    <li>Tomatsuppe med brød</li>
    <img src="static/tomatsuppe.jpeg.webp" alt=""
       style="width:200px;border-radius:15px; margin:10px;">
      

    <li>Kyllingwrap</li>
    <img src="static/kyllingwrap.jpeg" alt=""
           style="width:200px;border-radius:15px; margin:10px;">

    <li>Vegetar burger</li>
    <img src="static/vegetarburger.jpg" alt=""
    style="width:200px;border-radius:15px; margin:10px;">

  </ul>
  <h2>Drikke</h2>
  <ul>
    <li>Kaffe</li>
    <img src="static/kaffehjerte.jpg" alt=""
     style="width:200px;border-radius:15px; margin:10px;">


    <li>brus</li>
    <img src="static/brus.jpg" alt=""
     style="width:200px;border-radius:15px; margin:10px;">

    <li>vann</li>
    <img src="static/vann.jpeg.png" alt=""
     style="width:200px;border-radius:15px; margin:10px;">
  </ul>
{% endblock %}
